#waybar {
    background-color: rgba(0, 0, 0, 0); /* Fully transparent */
    box-shadow: none;                    /* Remove any shadow */
}

/* Battery Module. */
#battery {
    background-color: black;
    color: cyan;
    border-radius: 2px;
    padding: 0 10px;
    min-width: 0;
    font-weight: bold;
}
