#waybar {
    background-color: rgba(0, 0, 0, 0); /* Fully transparent */
    box-shadow: none;                    /* Remove any shadow */
    color: cyan;
}

/* Battery Module. */
#battery {
    background-color: black;
    border-radius: 5px;
    padding: 0 5px;
    min-width: 0;
    font-weight: bold;
}

/* Clock Module. */
#clock {
    background-color: black;
    border-radius: 5px;
    padding: 0 5px;
    font-weight: bold;
}
